<footer xmlns:th="http://www.thymeleaf.org" class="border-top" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <img src="../../assets/img/logos/3.png" alt="logo" width="40">
            </div>
            <div class="col-1 text-center p-4">
                <a href="/" class="nav-link text-dark"><i class="bi bi-house-fill"></i>Home</a>
            </div>
            <div class="col-2 text-center p-4">
                <a href="#" class="nav-link text-dark">Política de Privacidade</a>
            </div>
            <div class="col-1 text-center p-4">
                <a href="#" class="nav-link text-dark">FAQ</a>
            </div>
            <div class="col-2 text-center p-4">
                <a href="#" class="nav-link text-dark">Termos de Uso</a>
            </div>
        </div>
    </div>
    <div class="text-center border-top">
        <p>&copy; 2023 GoService. Todos os direitos reservados.</p>
    </div>
</footer>
