<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>Histórico de Agendamento | GoService</title>
</head>
<body>

<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container my-4">
        <h2>Histórico de Agendamento</h2>

        <div class="card w-100 mt-5">
            <div class="card-body">

                <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
                <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

                <h3>Filtro de agendamentos</h3>
                <form th:action="@{/cliente/historico}" method="get">
                    <div class="form-group mb-1 w-25">
                        <label for="dataInicial">Data Inicial</label>
                        <input type="date" class="form-control" id="dataInicial" name="dataInicial">
                    </div>
                    <div class="form-group mb-1 w-25">
                        <label for="dataFinal">Data Final</label>
                        <input type="date" class="form-control" id="dataFinal" name="dataFinal">
                    </div>
                    <button type="submit" class="btn btn-primary my-1">Filtrar</button>
                </form>

                <hr>

                <table class="table w-100">
                    <thead>
                    <tr>
                        <th>Prestador</th>
                        <th>Serviço</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status</th>
                        <th>Cancelar</th>
                        <th>Concluir</th>
                        <th>Chat</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="agendamento : ${agendamentos}">

                        <td><button type="button" class="btn btn-link nav-link text-dark" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${agendamento.id}">
                            <span th:text="${agendamento.prestador.nome}"></span>
                        </button></td>
                        <td th:text="${agendamento.servico.nome}"></td>
                        <td th:text="${agendamento.data}"></td>
                        <td th:text="${agendamento.hora}"></td>
                        <td th:text="${agendamento.statusAgendamento.descricao}"></td>
                        <td>
                            <button class="btn btn-danger" style="width: 8rem" th:disabled="${not agendamento.isCancelable()}" data-bs-toggle="modal" th:data-bs-target="'#cancelModal' + ${agendamento.id}">
                                Cancelar <i class="bi bi-x-square-fill ms-2"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" style="width: 8rem" th:disabled="${not agendamento.isRealizable()}" data-bs-toggle="modal" th:data-bs-target="'#completeModal' + ${agendamento.id}">
                                Concluir <i class="bi bi-check-square-fill ms-2"></i>
                            </button>
                        </td>
                        <td>
                            <a th:if="${agendamento.getStatusAgendamento().getDescricao() == 'Confirmado' || agendamento.getStatusAgendamento().getDescricao() == 'Concluido'}" th:href="@{/cliente/chat/{id}(id=${agendamento?.id})}">
                                <button class="btn btn-primary d-flex align-items-center" style="border-radius: 50%; width: 2.5rem; height: 2.5rem; padding: 0; justify-content: center; line-height: 2.5rem;">
                                    <i  class="bi-chat-left-text-fill" style="margin: 0;"></i>
                                </button>
                            </a>
                            <a th:if="${agendamento.getStatusAgendamento().getDescricao() != 'Confirmado' && agendamento.getStatusAgendamento().getDescricao() != 'Concluido'}">
                                <button th:disabled="${not agendamento.isRealizable()}" class="btn btn-primary d-flex align-items-center" style="border-radius: 50%; width: 2.5rem; height: 2.5rem; padding: 0; justify-content: center; line-height: 2.5rem;">
                                    <i  class="bi-chat-left-text" style="margin: 0;"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isCancelable()}">
        <div class="modal fade" th:id="'cancelModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja cancelar o agendamento do serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/cliente/historico/cancelar}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isRealizable()}">
        <div class="modal fade" th:id="'completeModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="completeModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja concluir o serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/cliente/historico/concluir}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Concluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:each="agendamento : ${agendamentos}" th:id="'modal-' + ${agendamento.id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="'Detalhes do Agendamento de ' + ${agendamento.prestador.nome}" id="myModalLabel"></h5>
                    <form  class="modal-none" method="post" th:action="@{/cliente/historico}">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </form>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> <span th:text="${agendamento.prestador.nome}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${agendamento.prestador.email}"></span></p>
                    <p><strong>Descrição:</strong> <span th:text="${agendamento.prestador.descricao}"></span></p>
                    <p><strong>Taxa de Cobrança:</strong> <span th:text="${agendamento.prestador.taxaPorHora}"></span></p>
                    <p><strong>Endereço:</strong> <span th:text="${agendamento.prestador.endereco}"></span></p>
                </div>
                <form class="modal-footer" method="post" th:action="@{/cliente/historico}">
                    <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>