<!DOCTYPE html>
<html lang="pt-br" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GoService | Home</title>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="carousel slide mx-auto" data-bs-ride="carousel" id="carouselExampleAutoplaying"
         style="max-width: 100%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="banner1" class="d-block w-100" src="../../assets/img/banners/1.png">
            </div>
            <div class="carousel-item">
                <img alt="banner2" class="d-block w-100" src="../../assets/img/banners/2.png">
            </div>
            <div class="carousel-item">
                <img alt="banner3" class="d-block w-100" src="../../assets/img/banners/3.png">
            </div>
            <div class="carousel-item">
                <img alt="banner4" class="d-block w-100" src="../../assets/img/banners/4.png">
            </div>
            <div class="carousel-item">
                <img alt="banner5" class="d-block w-100" src="../../assets/img/banners/5.png">
            </div>
            <div class="carousel-item">
                <img alt="banner6" class="d-block  w-100" src="../../assets/img/banners/6.png">
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleAutoplaying"
                type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleAutoplaying"
                type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <table style="margin: 0 auto;">
        <tr>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/1.png">
                    <div class="card-body">
                        <h5 class="card-title">Seja nosso parceiro!</h5>
                        <p class="card-text">Cadastre-se como prestador.</p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/2.png">
                    <div class="card-body">
                        <h5 class="card-title">Somos a maior plataforma!</h5>
                        <p class="card-text">Encontre seu serviço.</p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/3.png">
                    <div class="card-body">
                        <h5 class="card-title">Reforço Escolar </h5>
                        <p class="card-text">Professores especializados. </p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/4.png">
                    <div class="card-body">
                        <h5 class="card-title">Marido de Aluguel</h5>
                        <p class="card-text">Tenha mais tempo para você.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/5.png">
                    <div class="card-body">
                        <h5 class="card-title">Compras Profissionais !</h5>
                        <p class="card-text">Opções de economia e praticidade.</p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/6.png">
                    <div class="card-body">
                        <h5 class="card-title">Marketing !</h5>
                        <p class="card-text">Precisa de ajuda com marketing ?</p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/7.png">
                    <div class="card-body">
                        <h5 class="card-title">Planejamento !</h5>
                        <p class="card-text">Especialistas em planejar ?</p>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <div class="card" style="width: 18rem; border-radius: 3px; margin: 10px;">
                    <img alt="..." class="card-img-top" src="../../assets/img/prormos/8.png">
                    <div class="card-body">
                        <h5 class="card-title">Ajuda com Propostas !</h5>
                        <p class="card-text">Revise com especialistas ?</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div th:replace="fragments/footer :: footer"></div>
</main>
</body>